<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
  <script src="profile.js"></script>
  <title>Family Search</title>
</head>

<body style="text-align: center">

  <div class="wrap">
    <h1>Family Search</h1>
    <p>Search for people by name</p>

    <div class="search">
      <input type="text" class="searchTerm" placeholder="Who are you looking for?">
      <button type="submit" class="check-for-person" ng-click="">Look Up</button>
    </div>
  </div>

  <div class="wrap">
    <p>Didn't find anyone? Add them!</p>


    <h5>*Start with your parents*</h5>

    <fieldset>
      <legend>Relative's Information:</legend><br>

      First Name:
      <input type="text" id="firstname" placeholder="Enter first name" required><br><br>
      Last Name:
      <input type="text" id="lastname" placeholder="Enter last name" required><br><br>

      <form>
        Gender:<br>
        <input type="radio" name="gender" id="gender-male" value="male"> Male<br>
        <input type="radio" name="gender" id="gender-female" value="female"> Female<br><br>

        Date of Birth:<br>
        <input id="dob" type="date" name="dob" max="2019-5-10" required><br><br>

        Relation:<br>
        <input type="radio" name="relation" id="relation-parent" value="parent"> This is my parent<br>
        <input type="radio" name="relation" id="relation-child" value="child"> This is my child<br><br>
      </form>

      <button type="submit" class="add-member" ng-click="addMember();">Add Member</button>

    </fieldset><br>
    <a href="">My Profile</a>
    <a>Family Search</a>

  </div>


</body>

</html>